<form [formGroup]="createTaskForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Task Name</label>
        <input  formControlName="taskName" type="text" class="form-control" id="inputCity" />
        <span *ngIf="createTaskForm.controls['taskName'].errors?.['required'] && isSubmitted" style="color: red;">
            This field is required.
          </span>
      </div>
      <div class="col-mg-2" style="margin-top: 32px">
        <button (click)="handleCreateTask()" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>